@model AllergenAlertMVC2.ViewModels.AddRestaurantViewModel

<h1> ADD RESTAURANT</h1>

<form asp-controller="Restaurant" asp-action="AddRestaurant" method="post">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"  />
    </div>

        <input type="submit" value="Add Restaurant" />

</form>

