@model List< AllergenAlertMVC2.Models.Restaurant>
<h1>RESTAURANTS</h1>

<table class="table">

    <tr>
        <th>Name</th>
    </tr>
    @foreach (var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Name</td>
        </tr>

     }
</table>

<p><a asp-controller="Restaurant" asp-action="AddRestaurant"> Add Restaurants</a></p>