@{
}
<h1>RESTAURANTS</h1>

<p><a asp-controller="Restaurant" asp-action="AddRestaurant"> Add Restaurants</a></p>
<ul>
    @foreach (string restaurant in ViewBag.restaurants)
    {
        <li>@restaurant</li>

    }



</ul>